.homepage{
  background-color: white;
}

.header {
  background-color: aqua;
}

.title1{
  color: rgb(63, 69, 49);
  font-size: large;
  font-weight: bold;
}

.title2{
  color: #76517c;
  font-size: xx-large;
  font-weight: bolder;
  animation-name: title2;
  animation-duration: 4s;
}

.container{
    width: 800px;
    height: 800px;
    position:relative ;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 15px;
}

.title-image-div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.title-div {
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  padding-right: 50px;
}

.pfp-div{
  display: flex;
}

.pfp{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    border-width: 4px;
    overflow: hidden;
}

.resume-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
} 

.resume-button{
  background-color: #76517c;
  color: white;
  width: 155px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px; 
  padding-bottom: 15px; 

}

.header-name{
  color: rgb(63, 69, 49);
  font-weight: bold;
  font-size: large;
}

.page-links{
  padding-left: 200px;
  padding-right: 200px;
}

