.about-page{
  background-color: white;
}

.header {
  background-color: aqua;
}

.container{
  justify-content: center;
  align-items: center;
  display:grid;
  margin: 50px;
}

.container2{
  justify-content: center;
  align-items: center;
  display:flex;
  margin: 50px;
}

.page-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px; 
  padding-bottom: 15px; 

}

.header-name{
  color: rgb(63, 69, 49);
  font-weight: bold;
  font-size: large;
}

.page-links{
  padding-left: 200px;
  padding-right: 200px;
}

.title{
  font-size: xx-large;
  color: #76517c;
  font-weight: bolder;
}

.project{
  margin-left: 100px;
  display: grid;
  margin: 50px;
  height: 300px;
  width: 300px;
}

.project-name{
  font-size: x-large;
  font-weight: bold;
  color: #76517c;
  padding-right: 15px;
}

.subtext{
  font-size: medium;
  padding-bottom: 15px;
}

.description{

}

